// Main nav config
-
    var main_nav_items = [
        { text : "À propos" , url : "/fr/about"        , icon : "user"      },
        { text : "Sten"     , url : "/fr/sten"         , icon : "cogs"      },
        { text : "Portfolio", url : "/fr/portfolio/"   , icon : "picture-o" },
        { text : "Contact"  , url : "/fr/about#contact", icon : "envelope"  },
    ]
