extends ../../template-parts/layout-main.pug

block vars
    - title = "À propos de Florian Dupeyron"

block content
    h1 À propos
    p
        | Je m'appelle Florian Dupeyron, et j'ai 21 ans. Ayant
        | Tout juste obtenu une double licence en Sciences &
        | Musicologie à l'université Sorbonne (fusion de l'UPMC et de la Sorbonne), je me réoriente vers une L3 d'EEA
        | dans cette même université. Programmant depuis l'adolescence, je m'oriente progressivement
        | vers l'électronique embarquée et l'informatique bas-niveau.
    p
        | Je pratique également la musique depuis
        | l'âge de quatre ans et demi : piano, basse, guitare, batterie, et bien sûr bidouilles musicales diverses
        | à base d'électronique et d'informatique. ;-)
    
    h2 Parcours
    dl.inline
        dt Été 2018
        dd Stage de deux mois chez <a href="https://hyvibe.audio">HyVibe</a> : travail sur le hardware, le processus d'industrialisation et l'assurance qualité.

        dt 2018
        dd Obtention double licence en Sciences & Musicologie à l'université Sorbonne ; mention assez bien

        dt 2014
        dd Finaliste des olympiades des SI, hébergées par Microsoft France, pour un projet de ballon-sonde

        dt 2014
        dd Obtention Bac S option Sciences de l'Ingénieur ; mention très bien

    h2#contact Contact
    dl.inline
        dt Mail
        dd florian.dupeyron@mugcat.fr

        dt Github
        dd <a href="https://github.com/fdmysterious" target="_blank" >fdmysterious</a>
