{% extends "base.html" %}
{% block dynamic_wrapper %}
<main class="main-wrapper" role="main">
	{% block content %}
	{% endblock %}
</main>

<footer class="main-footer" id="footer" role="footer">
	<p><strong>2017-2022 Florian Dupeyron</strong></p>
	<p>Le code du site est disponible sur <a target="_blank" href="https://github.com/fdmysterious/mugcat">Github</a>.</p>
	<p>Code source sous licence GPLv3. Contenu texte et multimédia sous licence CC-BY-NC v3</p>.
</footer>

<script>
	window.page_loaded = function() {
		window.components.triangles.set_animate(false);
		window.components.header.menu_show();
	}
</script>
{% endblock dynamic_wrapper %}
