{% macro nav_link(icon, name, url) %}
	<a class="nav-link" href="{{ SITEURL }}/{{ url }}">
		<i class="fa fa-{{ icon }}"></i>
		<span class="subtitle">{{ name }}</span>
	</a>
{% endmacro %}

{% macro homelinks() %}
	{% for title, link in MENUITEMS %}
		{{ nav_link('cogs', title, link ) }}
	{% endfor %}

	{% if DISPLAY_PAGES_ON_MENU %}
		{% for p in pages %}
			{{ nav_link('cogs', p.title, p.url ) }}
		{% endfor %}
	{% endif %}

	{% if DISPLAY_CATEGORIES_ON_MENU %}
		{% for cat, null in categories %}
			{{ nav_link('cogs', cat, cat.url) }}
		{% endfor %}
	{% endif %}
{% endmacro %}
