div.title-big.bg-black.fg-yellow
    h1 Équipements et pièces détachées de garage
    p Spécialiste des équipements de garage depuis 1988, la société MGServices s'adresse aux professionnels de la réparation automobile ainsi qu'aux particuliers souhaitant acquérir du matériel de qualité professionnelle.

div.featured-container
    div.item
        h3 PTS
        ul
            li Outillage à main
            li Outillage pneumatique
    div.item
        h3 Actia Muller
        ul
            li Géométrie
            li Équilibreuse
            li Machine à pneus
            li Ligne de contrôle technique
            li Réglophare
            li Gaz

    div.item
        h3 Bel air
        ul
            li Compresseur

    div.item
        h3 Salcatec
        ul
            li Évacuation des gaz d'échappement

    div.item
        h3 Werther
        ul
            li Pont
            li Réglophare

    div.item
        h3 Cascos
        ul
            li Pont élévateur

div.title-big.bg-yellow.fg-navy
    h2 Maintenance de vos équipements techniques
    p La société MGServices intervient dans les secteurs VL, PL, Moto et Centre de Contrôle Technique. 

div.featured-container
    ul
        li Vente neuf et occasion
        li Installation
        li Entretien et maintenance
        li Dépannage
        li Réseaux d'air
        li Épreuves réglementaires de mise (remise) en service de ponts élévateurs
        li Réalisation de génie civil
