main.main-wrapper
    section.featured
        div.featured_back
            div.featured_back_img( style="background-image : url('assets/img/slide_1.jpg')")
            div.featured_back_overlay

        div.featured_content
            h1 Équipements et pièces détachées de garage
            main
                p Spécialiste des équipements de garage depuis 1988, la société MGServices s'adresse aux professionnels de la réparation automobile ainsi qu'aux particuliers souhaitant acquérir du matériel de qualité professionnelle.
        
    section.content-wrapper.g_row
        div.g_half
            h2 Maintenance garage
            div.big-icon
                i.fa.fa-wrench
            p La Société MGServices interview dans les secteurs VL, PL, Moto et Centre de Contrôle Technique.

        div.g_half
            h2 Vente neuf ou occasion
            div.big-icon
                i.fa.fa-handshake-o
            p Nous proposons du matériel neuf ou d'occasion dans la limite des stocks disponibles
    section.content-wrapper
        h2 Nous fournissons en équipements techniques
        div.g_list
            div.g_item.ico-item
                include ../assets/img/ico/screwdriver.svg
                span Outillage à mains
            div.g_item.ico-item
                include ../assets/img/ico/drill.svg
                span Outillage pneumatique
            div.g_item.ico-item
                i.fa.fa-bar-chart
                span Géométrie
            div.g_item.ico-item
                include ../assets/img/ico/equilibreuse.svg
                span Équilibreuse
            div.g_item.ico-item
                include ../assets/img/ico/pont_elevateur.svg
                span Pont élévateur
            div.g_item.ico-item
                include ../assets/img/ico/ligne_ct.svg
                span Ligne de contrôle technique
            div.g_item.ico-item
                i.fa.fa-lightbulb-o
                span Réglophare
            div.g_item.ico-item
                include ../assets/img/ico/reseau_air.svg
                span Réseau d'air
            div.g_item.ico-item
                i.fa.fa-cogs
                span Compresseur

    section.content-wrapper
        h2 Nos marques
        div.g_list
            div.g_item.ico-item
                i.fa.fa-info-circle
                span PTS
            div.g_item.ico-item
                i.fa.fa-info-circle
                span Actia Muller
            div.g_item.ico-item
                i.fa.fa-info-circle
                span Prevost
            div.g_item.ico-item
                i.fa.fa-info-circle
                span Sacatec
            div.g_item.ico-item
                i.fa.fa-info-circle
                span Bel air
            div.g_item.ico-item
                i.fa.fa-info-circle
                span Werther
