<!doctype html>
<html>
	<head>
        <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Mugcat article template</title>

        <link rel="stylesheet" href="index.css"/>
	</head>

	<body>
		<div class="main-background"><canvas></canvas></div>

		<header class="main-header" role="banner">
			<div class="main-header_logo">
				<img src="/assets/img/logo.svg" alt="Mugcat"/>
			</div>

			<nav class="main-nav" role="navigation">
				<main class="main-nav_content">
					<a class="nav-link" href="index.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Index template</span>
					</a>

					<a class="nav-link" href="standard.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Text template</span>
					</a>

					<a class="nav-link" href="portfolio.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Portfolio template</span>
					</a>

					<a class="nav-link" href="article.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Article template</span>
					</a>
				</main>
			</nav>
		</header>

		<div class="dynamic-wrapper">
			<main class="main-wrapper" role="main">
				<section id="article">
					<header style="background-image: url(https://www.contemporain.com/images/dossiers/musique/pierre-schaeffer-xl.jpg)">
						<a class="portfolio-prev-link">Retour</a>
						<h1>Name of article</h1>
						<div class="article-infos">
							<ul>
								<li><i class="fa fa-calendar"></i><time class="published" datetime="2022-02-08">2022-02-08</time></li>
								<li><i class="fa fa-pencil-square-o"></i><time class="modified"  datetime="2022-02-08">2022-02-08</time></li>
							</ul>
						</div>
					</header>

					<div class="article-content">
						<p class="abstract">
							<strong>Pierre Schaeffer</strong>, né à Nancy le 14
							août 1910, et mort aux Milles, près
							d'Aix-en-Provence, le 19 août 19951, est un
							ingénieur, chercheur, théoricien, compositeur et
							écrivain français. Il a également été homme de
							radio, fondateur et directeur de nombreux services.
							Il est considéré comme le père de la musique
							concrète, de la musique acousmatique, et de la
							musique électroacoustique. 
						</p>

						<h2>Header Level 2</h2>

						<ol>
						   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						   <li>Aliquam tincidunt mauris eu risus.</li>
						</ol>

						<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

						<h3>Header Level 3</h3>

						<ul>
						   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						   <li>Aliquam tincidunt mauris eu risus.</li>
						</ul>

						<pre><code>
#header h1 a {
  display: block;
  width: 300px;
  height: 80px;
}
						</code></pre>
					</div>
				</section>
			</main>

			<footer class="main-footer" id="footer" role="footer">
				<p><strong>2017-2022 Florian Dupeyron</strong></p>
				<p>Code source disponible sur <a href="https://github.com/fdmysterious/mugcat" target="_blank">Github</a>.</p>
				<p>Code source sous licence GPLv3. Contenu multimédia sous licence CC-BY-NC v3.</p>
			</footer>

			<script>
				window.page_loaded = function() {
					window.components.triangles.set_animate(false);
					window.components.header.menu_show();
				}
			</script>
		</div>

		<script src="/assets/lib/delaunay.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>
