<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Mugcat template</title>

        <link rel="stylesheet" href="index.css"/>
    </head>

    <body>
		<div class="main-background"><canvas></canvas></div>

		<header class="main-header" role="banner">
			<div class="main-header_logo">
				<img src="/assets/img/logo.svg" alt="Mugcat"/>
			</div>

			<nav class="main-nav mod_hidden" role="navigation">
				<main class="main-nav_content">
					<a class="nav-link" href="index.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Index template</span>
					</a>

					<a class="nav-link" href="standard.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Text template</span>
					</a>

					<a class="nav-link" href="portfolio.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Portfolio template</span>
					</a>
				</main>
			</nav>
		</header>

		<div class="dynamic-wrapper">
			<div class="home-wrapper">
				<div class="home-wrapper_content">
					<h1 class="animation-reveal-1">Bonjour</h1>
					<p class="animation-reveal-2">	
						Je m'appelle Florian Dupeyron, ingénieur en électronique embarquée.
						Ce petit bout de web est l'occasion pour moi de vous présenter mes
						activités numériques.
					</p>

					<div class="home-links animation-reveal-3">
						<a class="nav-link" href="index.html">
							<i class="fa fa-cogs"></i>
							<span class="subtitle">Index template</span>
						</a>

						<a class="nav-link" href="standard.html">
							<i class="fa fa-cogs"></i>
							<span class="subtitle">Text template</span>
						</a>

						<a class="nav-link" href="portfolio.html">
							<i class="fa fa-cogs"></i>
							<span class="subtitle">Portfolio template</span>
						</a>
						</nav>
					</div>
				</div>

			</div>

			<script>
				window.page_loaded = function() {
					window.components.triangles.set_animate(true);
					window.components.header.menu_hide();
				}
			</script>
		</div>

		<script src="/assets/lib/delaunay.js"></script>
		<script src="/js/index.js"></script>
    </body>
</html>
