<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Mugcat template</title>

        <link rel="stylesheet" href="index.css"/>
    </head>

    <body>
		<div class="main-background"><canvas></canvas></div>

		<header class="main-header" role="banner">
			<div class="main-header_logo">
				<img src="/assets/img/logo.svg" alt="Mugcat"/>
			</div>

			<nav class="main-nav" role="navigation">
				<main class="main-nav_content">
					<a class="nav-link" href="index.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Index template</span>
					</a>

					<a class="nav-link" href="standard.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Text template</span>
					</a>

					<a class="nav-link" href="portfolio.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Portfolio template</span>
					</a>

					<a class="nav-link" href="article.html">
						<i class="fa fa-cogs"></i>
						<span class="subtitle">Article template</span>
					</a>
				</main>
			</nav>
		</header>

		<div class="dynamic-wrapper">
			<main class="main-wrapper" role="main">
				<h1>HTML Ipsum Presents</h1>

				<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

				<h2>Header Level 2</h2>

				<ol>
				   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
				   <li>Aliquam tincidunt mauris eu risus.</li>
				</ol>

				<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

				<h3>Header Level 3</h3>

				<ul>
				   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
				   <li>Aliquam tincidunt mauris eu risus.</li>
				</ul>

				<pre><code>
				#header h1 a {
				  display: block;
				  width: 300px;
				  height: 80px;
				}
				</code></pre>

<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="display:flex"><span><span style="color:#66d9ef">if</span> __name__ <span style="color:#f92672">==</span> <span style="color:#e6db74">"__main__"</span>:
</span></span><span style="display:flex"><span>  logging<span style="color:#f92672">.</span>basicConfig(level<span style="color:#f92672">=</span>logging<span style="color:#f92672">.</span>INFO)
</span></span><span style="display:flex"><span>
</span></span><span style="display:flex"><span>  <span style="color:#75715e"># First, declare a topology object. This object will holds all objects declaration,</span>
</span></span><span style="display:flex"><span>  <span style="color:#75715e"># as well as links between these objects.</span>
</span></span><span style="display:flex"><span>  tt <span style="color:#f92672">=</span> Topology(name<span style="color:#f92672">=</span><span style="color:#e6db74">"Basic topology"</span>)
</span></span><span style="display:flex"><span>
</span></span><span style="display:flex"><span>  <span style="color:#75715e"># Secondly, we declare the objects we will have in our topology.</span>
</span></span><span style="display:flex"><span>  s1 <span style="color:#f92672">=</span> tt<span style="color:#f92672">.</span>register(MyCustomSwitch(<span style="color:#e6db74">"s1"</span>, mac_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"02:01:02:00:00:01"</span>, ip_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"10.0.0.1/24"</span>), group<span style="color:#f92672">=</span><span style="color:#e6db74">"group1"</span>)
</span></span><span style="display:flex"><span>  s2 <span style="color:#f92672">=</span> tt<span style="color:#f92672">.</span>register(MyCustomSwitch(<span style="color:#e6db74">"s2"</span>, mac_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"02:01:02:00:00:02"</span>, ip_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"10.0.0.2/24"</span>), group<span style="color:#f92672">=</span><span style="color:#e6db74">"group1"</span>)
</span></span><span style="display:flex"><span>  s3 <span style="color:#f92672">=</span> tt<span style="color:#f92672">.</span>register(MyCustomSwitch(<span style="color:#e6db74">"s3"</span>, mac_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"02:01:02:00:00:03"</span>, ip_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"10.0.0.3/24"</span>), group<span style="color:#f92672">=</span><span style="color:#e6db74">"group2"</span>)
</span></span><span style="display:flex"><span>  s4 <span style="color:#f92672">=</span> tt<span style="color:#f92672">.</span>register(MyCustomSwitch(<span style="color:#e6db74">"s4"</span>, mac_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"02:01:02:00:00:04"</span>, ip_addr<span style="color:#f92672">=</span><span style="color:#e6db74">"10.0.0.4/24"</span>), group<span style="color:#f92672">=</span><span style="color:#e6db74">"group2"</span>)
</span></span><span style="display:flex"><span>
</span></span><span style="display:flex"><span>
</span></span><span style="display:flex"><span>  <span style="color:#75715e"># Then, we connect these objects together</span>
</span></span><span style="display:flex"><span>  tt<span style="color:#f92672">.</span>connect(s1<span style="color:#f92672">.</span>p0, s3<span style="color:#f92672">.</span>p0)
</span></span><span style="display:flex"><span>  tt<span style="color:#f92672">.</span>connect(s1<span style="color:#f92672">.</span>p1, s4<span style="color:#f92672">.</span>p0)
</span></span><span style="display:flex"><span>  tt<span style="color:#f92672">.</span>connect(s2<span style="color:#f92672">.</span>p0, s3<span style="color:#f92672">.</span>p1)
</span></span><span style="display:flex"><span>  tt<span style="color:#f92672">.</span>connect(s2<span style="color:#f92672">.</span>p1, s4<span style="color:#f92672">.</span>p1)
</span></span><span style="display:flex"><span>
</span></span><span style="display:flex"><span>  <span style="color:#75715e"># Then, we can export our graph</span>
</span></span><span style="display:flex"><span>  dot <span style="color:#f92672">=</span> tt<span style="color:#f92672">.</span>export_graphviz()
</span></span><span style="display:flex"><span>  dot<span style="color:#f92672">.</span>render(<span style="color:#e6db74">"output_graph"</span>)
</span></span><span style="display:flex"><span>
</span></span><span style="display:flex"><span>  <span style="color:#75715e"># Now, onto instanciation of our topology!</span>
</span></span><span style="display:flex"><span>  cleanup_all()    <span style="color:#75715e"># Precaution</span>
</span></span><span style="display:flex"><span>  tt<span style="color:#f92672">.</span>instanciate() <span style="color:#75715e"># Topology instanciation on host platform</span>
</span></span><span style="display:flex"><span>
</span></span><span style="display:flex"><span>  <span style="color:#75715e"># Up objects</span>
</span></span><span style="display:flex"><span>  s1<span style="color:#f92672">.</span>up()
</span></span><span style="display:flex"><span>  s2<span style="color:#f92672">.</span>up()
</span></span><span style="display:flex"><span>  s3<span style="color:#f92672">.</span>up()
</span></span><span style="display:flex"><span>  s4<span style="color:#f92672">.</span>up()
</span></span></code></pre></div>
			</main>

			<footer class="main-footer" id="footer" role="footer">
				<p><strong>2017-2022 Florian Dupeyron</strong></p>
				<p>Code source disponible sur <a href="https://github.com/fdmysterious/mugcat" target="_blank">Github</a>.</p>
				<p>Code source sous licence GPLv3. Contenu multimédia sous licence CC-BY-NC v3.</p>
			</footer>

			<script>
				window.page_loaded = function() {
					window.components.triangles.set_animate(false);
					window.components.header.menu_show();
				}
			</script>
		</div>

		<script src="/assets/lib/delaunay.js"></script>
		<script src="/js/index.js"></script>
    </body>
</html>
