a.button {
    @include no-outline();

    text-decoration : none;
    display : inline-block;
    //color : $color-magenta;
    color : $color-button-main;
    padding : .5em;
    border : 1px solid $color-button-main;

    border-radius : 10px;

    transition : color 100ms ease, background 100ms ease;

    &:hover {
        //color : $color-cream;
        color:$color-button-hover;
        background : $color-button-main !important;
    }

    &:active {
        border : 1px solid $color-button-main;
        transition : color 100ms ease;
        background : lighten( $color-button-main, 10 ) !important;
    }

    &.primary {
        color      : $color-button-primary-fg;
        background : lighten( $color-button-primary-bg, 20 );
        border     : 1px solid lighten( $color-button-primary-bg, 20 );
        box-shadow : 0px 0px 5px rgba( 0, 0, 0, 0.1 );
    }

    &.no-border {
        border : initial !important;
    }
}
