{{ define "main" }} <main class="main-wrapper" role="main">
		<section id="article">
			{{ $cover := .Resources.GetMatch "cover.*" }}
			<header style='background-image: url( {{ $cover.Permalink }} );'>
				<a class="portfolio-prev-link" href="{{ .CurrentSection.Permalink}}">{{ .CurrentSection.Title }}</a>
				<h1>{{ .Title }}</h1>
				<div class="article-infos">
					<ul>
						<li><i class="fa fa-calendar"></i> {{ .Date | time.Format ":date_long" }}</li>
					</ul>
				</div>
			</header>

			<div class="article-content">
				<div class="article-links-title">{{ i18n "project_links" }}</div>
				<nav class="article-links-nav">
					{{ if (isset .Params "github_link") }}
					<div class="article-link"><i class="fa fa-github"></i>&nbsp;<a target="_blank" href="{{ .Params.github_link }}">Github</a></div>
					{{ else }}
					<div class="article-link"><i class="fa fa-hourglass-half"></i>&nbsp;<span>{{i18n "project_links_soon"}}</span></div>
					{{ end }}
				</nav>

				{{ .Content }}
				{{ partial "author-info.html" }}
			</div>
		</section>

	</main>

	{{ partial "footer.html" }}

	<script>
		window.page_loaded = function() {
			window.components.triangles.set_animate(false);
			window.components.header.menu_show();
		}
	</script>

{{ end }}
