{{ define "main" }}
	<main class="main-wrapper" role="main">
		<section id="article">
			<header style='background-image: url( {{ .Resources.GetMatch "cover.jpg" }} );'>
				<a class="portfolio-prev-link" href="{{ .CurrentSection.Permalink}}">{{ .CurrentSection.Title }}</a>
				<h1>{{ .Title }}</h1>
				<div class="article-infos">
					<ul>
						<li><i class="fa fa-calendar"></i> {{ .Date | time.Format ":date_long" }}</li>
					</ul>
				</div>
			</header>

			<div class="article-content">
				{{ .Content }}
				{{ partial "author-info.html" }}
			</div>
		</section>

	</main>

	{{ partial "footer.html" }}

	<script>
		window.page_loaded = function() {
			window.components.triangles.set_animate(false);
			window.components.header.menu_show();
		}
	</script>

{{ end }}
